<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--metatextblock-->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://static.tildacdn.com/tild3764-6530-4330-b366-356164303364/WhatsApp_Image_2020-.jpeg" />
    <link rel="canonical" href="https://xn--80aaiqendkqux4i3b.xn--p1ai/vebinar2">
    <!--/metatextblock-->
    <meta property="fb:app_id" content="257953674358265" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://tilda.ws">
    <link rel="dns-prefetch" href="https://static.tildacdn.com">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://static.tildacdn.com/tild6439-6333-4664-b636-313631336637/logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://static.tildacdn.com/tild6439-6333-4664-b636-313631336637/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://static.tildacdn.com/tild6439-6333-4664-b636-313631336637/logo.png">
    <link rel="apple-touch-startup-image" href="https://static.tildacdn.com/tild6439-6333-4664-b636-313631336637/logo.png">
    <meta name="msapplication-TileColor" content="#000000">
    <link rel="stylesheet" href="~/css/tilda-grid-3.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/tilda-blocks-2.12.css?t=1593758142" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/tilda-animation-1.0.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/tilda-slds-1.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/tilda-zoom-2.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/style_text.css" type="text/css" media="all" />
    <script src="~/js/jquery-1.min.js"></script>
    <script src="~/js/tilda-scripts-2.min.js"></script>
    <script src="~/js/tilda-blocks-2.7.js?t=1593758142"></script>
    <script src="~/js/lazyload-1.min.js" charset="utf-8"></script>
    <script src="~/js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <script src="~/js/tilda-slds-1.4.min.js" charset="utf-8"></script>
    <script src="~/js/hammer.min.js" charset="utf-8"></script>
    <script src="~/js/tilda-zoom-2.js" charset="utf-8"></script>
    <script src="~/js/tilda-forms-1.js" charset="utf-8"></script>
    <script src="~/js/tilda-zero-forms-1.js" charset="utf-8"></script>
    <!-- Facebook Pixel Code -->
    <script src="~/js/Facebook_pixel.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=2257148927833988&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <!-- Facebook Pixel Code -->
    <script src="~/js/Facebook_pixel.js"></script> 
    <script type="text/javascript", src="~/js/JavaScript.js"></script>
</head>
<body class="t-body" style="margin:0;">
    @RenderBody()
    <style></style>
    <style></style>
    <script type="text/javascript">
        $('#rec189046595').find('.js-form-proccess').on('tildaform:aftererror',
            function (e) {
                e.preventDefault();
                t720_fixcontentheight('189046595');
            });
    </script>
    <style></style>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <!-- FB Pixel code (noscript) -->
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2661144310765814&ev=PageView&agent=pltilda&noscript=1" />
    </noscript><!-- End FB Pixel code (noscript) -->
    <!-- Yandex.Metrika counter 62058643 -->
    <script type="text/javascript", src="~/js/yandex_metric_counter62058643.js">
    </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/62058643" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript> 
    <!-- /Yandex.Metrika counter -->
    <script type="text/javascript", src="~/js/yandex_metric.js">
    </script>
</body>
</html>