
#rec189046588 .t396__artboard {
    min-height: 760px;
    height: 100vh;
}

#rec189046588 .t396__filter {
    min-height: 760px;
    height: 100vh;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(5,0,41,0.5)) );
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(5,0,41,0.5));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(5,0,41,0.5));
}

#rec189046588 .t396__carrier {
    min-height: 760px;
    height: 100vh;
    background-position: center center;
    background-attachment: scroll;
    background-image: url('https://static.tildacdn.com/tild3430-3438-4339-b438-313538643765/freedom-1330003_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec189046588 .t396__artboard {
        min-height: 760px;
    }
}



#rec189046588 .t396__filter {
    min-height: 760px;
}

#rec189046588 .t396__carrier {
    min-height: 760px;
    background-attachment: scroll;
}

@media screen and (max-width: 959px) {
    #rec189046588 .t396__artboard {
        min-height: 1020px;
    }

    #rec189046588 .t396__filter {
        min-height: 1020px;
    }

    #rec189046588 .t396__carrier {
        min-height: 1020px;
    }

    @media screen and (max-width: 639px) {
        #rec189046588 .t396__artboard {
            min-height: 950px;
        }

        #rec189046588 .t396__filter {
            min-height: 950px;
        }

        #rec189046588 .t396__carrier {
            min-height: 950px;
        }

        @media screen and (max-width: 479px) {
            #rec189046588 .t396__artboard
        }

{
    min-height: 890px;
    background-color: #ffffff;
}

#rec189046588 .t396__filter {
    min-height: 890px;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(5,0,41,0)) );
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(5,0,41,0));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(5,0,41,0));
}

#rec189046588 .t396__carrier {
    min-height: 890px;
    background-position: center center;
    background-image: url('https://static.tildacdn.com/tild6333-3736-4238-b862-636361376237/gggg.svg');
}

#rec189046588 .tn-elem[data-elem-id="1466084312673"] {
    color: #ffffff;
    z-index: 5;
    top: calc(50vh - 380px + 509px);
    left: calc(50% - 100px + -313px);
    width: 200px;
}

    #rec189046588 .tn-elem[data-elem-id="1466084312673"] .tn-atom {
        color: #ffffff;
        font-size: 16px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        letter-spacing: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1466084312673"] {
        top: calc(50vh - 380px + 145pxpx);
        left: calc(50% - 230px + 250pxpx);
        width: 460px;
    }

        #rec189046588 .tn-elem[data-elem-id="1466084312673"] .tn-atom {
            font-size: 20px;
        }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1466084312673"] {
        top: calc(50vh - 510px + 145pxpx);
        left: calc(50% - 230px + 90pxpx);
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1466084312673"] {
        top: calc(50vh - 475px + 145pxpx);
        left: calc(50% - 230px + 10pxpx);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1466084312673"] {
        top: calc(141pxpx);
        left: calc(50% - 150px + 10pxpx);
        width: 300px;
    }

        #rec189046588 .tn-elem[data-elem-id="1466084312673"] .tn-atom {
            font-size: 18px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1469121919478"] {
    color: #ffffff;
    text-align: center;
    z-index: 11;
    top: calc(50vh - 0px + -108px);
    left: calc(50% - 360px + 0px);
    width: 720px;
}

    #rec189046588 .tn-elem[data-elem-id="1469121919478"] .tn-atom {
        color: #ffffff;
        font-size: 56px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.05;
        font-weight: 500;
        letter-spacing: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1469121919478"] {
        top: 80px;
        left: calc(50% - 390px + 0px);
        width: 780px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469121919478"] .tn-atom {
            font-size: 36px;
        }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1469121919478"] {
        top: 35px;
        left: calc(50% - 225px + -5px);
        width: 450px;
    }

    #rec189046588 .tn-elem[data-elem-id="1469121919478"] {
        text-align: center;
    }

        #rec189046588 .tn-elem[data-elem-id="1469121919478"] .tn-atom {
            font-size: 33px;
        }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1469121919478"] {
        top: 65px;
        left: calc(50% - 220px + 0px);
        width: 440px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469121919478"] .tn-atom {
            font-size: 24px;
        }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1469121919478"] {
        top: 45px;
        left: calc(50% - 150px + -1px);
        width: 300px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469121919478"] .tn-atom {
            font-size: 18px;
            line-height: 1.7;
        }
}

#rec189046588 .tn-elem[data-elem-id="1469181306596"] {
    z-index: 13;
    top: calc(50vh - 380px + 47px);
    left: calc(50% + 600px - 30px + 629px);
    width: 30px;
}

    #rec189046588 .tn-elem[data-elem-id="1469181306596"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec189046588 .tn-elem[data-elem-id="1469181336083"] {
    z-index: 14;
    top: calc(50vh - 380px + 47px);
    left: calc(50% + 600px - 30px + 590px);
    width: 30px;
}


    #rec189046588 .tn-elem[data-elem-id="1469181336083"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }



@media screen and (max-width: 1199px) {
}




@media screen and (max-width: 959px) {
}



@media screen and (max-width: 639px) {
}



@media screen and (max-width: 479px) {
}



#rec189046588 .tn-elem[data-elem-id="1469181670613"] {
    color: #ffffff;
    text-align: center;
    top: calc(50vh - 0px + -134px);
    left: calc(50% - 379.5px + 1.5px);
    width: 759px;
}



    #rec189046588 .tn-elem[data-elem-id="1469181670613"] .tn-atom {
        color: #ffffff;
        font-size: 23px;
        font-family: 'Roboto',Arial,sans-serif;
        font-weight: 400;
        opacity: 0.6;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1469181670613"] {
        top: 210px;
        left: calc(50% - 330px + 20px);
        width: 660px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469181670613"] .tn-atom {
            font-size: 20px;
        }
}

@@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1469181670613"] {
        top: 310px;
        left: calc(50% - 280px + 0px);
        width: 560px;
    }
}

@@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1469181670613"] {
        top: 291px;
        left: calc(50% - 200px + 1px);
        width: 400px;
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1469181670613"] {
        top: 267px;
        left: calc(50% - 150px + 0px);
        width: 300px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469181670613"] .tn-atom {
            font-size: 18px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1469549922981"] {
    color: #ffffff;
    z-index: 27;
    top: calc(50vh - 0px + -330px);
    left: calc(50% - 100px + 40px);
    width: 200px;
}

    #rec189046588 .tn-elem[data-elem-id="1469549922981"] .tn-atom {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1469549922981"] {
        top: calc(50vh - 0px + -1px);
        left: calc(50% - 95px + 5px);
        width: 190px;
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1469549922981"] {
        top: calc(50vh - 0px + -88px);
        left: calc(50% - 140px + 0px);
        width: 280px;
    }

    #rec189046588 .tn-elem[data-elem-id="1469549922981"] {
        text-align: center;
    }

        #rec189046588 .tn-elem[data-elem-id="1469549922981"] .tn-atom {
            font-size: 28px;
        }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1469549922981"] {
        top: calc(50vh - 0px + -101px);
        left: calc(50% - 120px + 10px);
        width: 240px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469549922981"] .tn-atom {
            font-size: 24px;
        }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1469549922981"] {
        top: calc(50vh - 0px + -101px);
        left: calc(50% - 150px + -2px);
        width: 300px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469549922981"] .tn-atom {
            font-size: 17px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1469560566699"] {
    z-index: 32;
    top: calc(50vh - 0px + -329px);
    left: calc(50% - 12.5px + -81px);
    width: 25px;
}

    #rec189046588 .tn-elem[data-elem-id="1469560566699"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1469560566699"] {
        top: calc(50vh - 0px + -67px);
        left: calc(50% - 12.5px + -6px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1469560566699"] {
        top: calc(50vh - 0px + -137px);
        left: calc(50% - 12.5px + 1px);
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1469560566699"] {
        top: calc(50vh - 0px + -146px);
        left: calc(50% - 12.5px + 6px);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1469560566699"] {
        top: calc(445vh - 0px + -137px);
        left: calc(50% - 12.5px + -2px);
    }
}

#rec189046588 .tn-elem[data-elem-id="1469560574742"] {
    z-index: 34;
    top: calc(50vh - 0px + -329px);
    left: calc(50% - 12.5px + -313px);
    width: 25px;
}

    #rec189046588 .tn-elem[data-elem-id="1469560574742"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1469560574742"] {
        top: calc(50vh - 0px + -67px);
        left: calc(50% - 12.5px + -237px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1469560574742"] {
        top: calc(50vh - 0px + -227px);
        left: calc(50% - 12.5px + 1px);
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1469560574742"] {
        top: calc(50vh - 0px + -226px);
        left: calc(50% - 12.5px + 5px);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1469560574742"] {
        top: calc(50vh - 0px + -211px);
        left: calc(50% - 12.5px + -1px);
    }
}

#rec189046588 .tn-elem[data-elem-id="1469549857584"] {
    color: #ffffff;
    z-index: 21;
    top: calc(50vh - 0px + -330px);
    left: calc(50% - 90px + -200px);
    width: 180px;
}

    #rec189046588 .tn-elem[data-elem-id="1469549857584"] .tn-atom {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1469549857584"] {
        top: calc(50vh - 0px + -1px);
        left: calc(50% - 90px + -235px);
        width: 180px;
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1469549857584"] {
        top: calc(50vh - 0px + -183px);
        left: calc(50% - 130px + 0px);
        width: 260px;
    }

    #rec189046588 .tn-elem[data-elem-id="1469549857584"] {
        text-align: center;
    }

        #rec189046588 .tn-elem[data-elem-id="1469549857584"] .tn-atom {
            font-size: 28px;
        }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1469549857584"] {
        top: calc(50vh - 0px + -186px);
        left: calc(50% - 115px + 5px);
        width: 230px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469549857584"] .tn-atom {
            font-size: 24px;
        }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1469549857584"] {
        top: calc(50vh - 0px + -178px);
        left: calc(50% - 150px + 0px);
        width: 300px;
    }

        #rec189046588 .tn-elem[data-elem-id="1469549857584"] .tn-atom {
            font-size: 17px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1481709306456"] {
    z-index: 36;
    top: calc(50vh - 0px + -329px);
    left: calc(50% - 12.5px + 178px);
    width: 25px;
}

    #rec189046588 .tn-elem[data-elem-id="1481709306456"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1481709306456"] {
        top: calc(50vh - 0px + -67px);
        left: calc(50% - 12.5px + 243px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1481709306456"] {
        top: calc(50vh - 0px + -37px);
        left: calc(50% - 12.5px + 1px);
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1481709306456"] {
        top: calc(50vh - 0px + -56px);
        left: calc(50% - 12.5px + 8px);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1481709306456"] {
        top: calc(445vh - 0px + -61px);
        left: calc(50% - 12.5px + -1px);
    }
}

#rec189046588 .tn-elem[data-elem-id="1481709314249"] {
    color: #ffffff;
    z-index: 37;
    top: calc(50vh - 0px + -330px);
    left: calc(50% - 55px + 255px);
    width: 110px;
}

    #rec189046588 .tn-elem[data-elem-id="1481709314249"] .tn-atom {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1481709314249"] {
        top: calc(50vh - 0px + -1px);
        left: calc(50% - 55px + 245px);
        width: 110px;
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1481709314249"] {
        top: calc(50vh - 0px + 2px);
        left: calc(50% - 75px + 0px);
        width: 150px;
    }

    #rec189046588 .tn-elem[data-elem-id="1481709314249"] {
        text-align: center;
    }

        #rec189046588 .tn-elem[data-elem-id="1481709314249"] .tn-atom {
            font-size: 28px;
        }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1481709314249"] {
        top: calc(50vh - 0px + -11px);
        left: calc(50% - 75px + 4px);
        width: 150px;
    }

        #rec189046588 .tn-elem[data-elem-id="1481709314249"] .tn-atom {
            font-size: 24px;
        }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1481709314249"] {
        top: calc(50vh - 0px + -30px);
        left: calc(50% - 150px + -2px);
        width: 300px;
    }

        #rec189046588 .tn-elem[data-elem-id="1481709314249"] .tn-atom {
            font-size: 17px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1587198662802"] {
    z-index: 38;
    top: calc(50vh - 380px + 505px);
    left: calc(50% - 600px + 315px);
    width: 570px;
}

    #rec189046588 .tn-elem[data-elem-id="1587198662802"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1587198662802"] {
        top: calc(50vh - 380px + 535px);
        left: calc(50% - 480px + 175px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1587198662802"] {
        top: calc(50vh - 510px + 646px);
        left: calc(50% - 320px + 149px);
        width: 330px;
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1587198662802"] {
        top: calc(50vh - 475px + 637px);
        left: calc(50% - 240px + 75px);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1587198662802"] {
        top: calc(505px);
        left: calc(50% - 160px + 30px);
        width: 260px;
    }
}

#rec189046588 .tn-elem[data-elem-id="1587199340262"] {
    color: #000000;
    text-align: center;
    z-index: 39;
    top: calc(50vh - 380px + 590px);
    left: calc(50% - 600px + 404px);
    width: 450px;
}

    #rec189046588 .tn-elem[data-elem-id="1587199340262"] .tn-atom {
        color: #000000;
        font-size: 15px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        top: calc(50vh - 380px + 765px);
        left: calc(50% - 480px + 300px);
    }

    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        color: #b3b1b1;
    }

        #rec189046588 .tn-elem[data-elem-id="1587199340262"] .tn-atom {
            color: #b3b1b1;
            line-height: 1;
        }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        top: calc(50vh - 510px + 950px);
        left: calc(50% - 320px + 150px);
        width: 330px;
    }

    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        color: #b5b1b1;
    }

        #rec189046588 .tn-elem[data-elem-id="1587199340262"] .tn-atom {
            color: #b5b1b1;
            font-size: 10px;
        }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        top: calc(50vh - 475px + 900px);
        left: calc(50% - 240px + 70px);
    }

    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        color: #bdb9b9;
    }

        #rec189046588 .tn-elem[data-elem-id="1587199340262"] .tn-atom {
            color: #bdb9b9;
            font-size: 10px;
        }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1587199340262"] {
        top: calc(815px);
        left: calc(50% - 160px + 60px);
        width: 190px;
    }

        #rec189046588 .tn-elem[data-elem-id="1587199340262"] .tn-atom {
            font-size: 10px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1587547392581"] {
    z-index: 40;
    top: calc(50vh - 380px + 985px);
    left: calc(50% - 600px + 330px);
    width: 560px;
    height: 83px;
}

    #rec189046588 .tn-elem[data-elem-id="1587547392581"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1587547392581"] {
        top: calc(50vh - 380px + 1102px);
        left: calc(50% - 480px + 191px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1587547392581"] {
        top: calc(50vh - 510px + 1207px);
        left: calc(50% - 320px + 51px);
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1587547392581"] {
        top: calc(50vh - 475px + 1207px);
        left: calc(50% - 240px + 44px);
        width: 424px;
        height: 78px;
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1587547392581"] {
        top: calc(1174px);
        left: calc(50% - 160px + 25px);
        width: 284px;
        height: 74px;
    }
}

#rec189046588 .tn-elem[data-elem-id="1587547454355"] {
    color: #ffffff;
    z-index: 41;
    top: calc(50vh - 380px + 470px);
    left: calc(50% - 600px + 320px);
    width: 310px;
}

    #rec189046588 .tn-elem[data-elem-id="1587547454355"] .tn-atom {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1587547454355"] {
        top: calc(50vh - 380px + 480px);
        left: calc(50% - 480px + 330px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1587547454355"] {
        top: calc(50vh - 510px + 605px);
        left: calc(50% - 320px + 170px);
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1587547454355"] {
        top: calc(50vh - 475px + 590px);
        left: calc(50% - 240px + 90px);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1587547454355"] {
        top: calc(475px);
        left: calc(50% - 160px + 40px);
    }

        #rec189046588 .tn-elem[data-elem-id="1587547454355"] .tn-atom {
            font-size: 16px;
        }
}

#rec189046588 .tn-elem[data-elem-id="1587547508696"] {
    color: #ffffff;
    z-index: 42;
    top: calc(50vh - 380px + 940px);
    left: calc(50% - 600px + 350px);
    width: 310px;
}

    #rec189046588 .tn-elem[data-elem-id="1587547508696"] .tn-atom {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Roboto',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
    #rec189046588 .tn-elem[data-elem-id="1587547508696"] {
        top: calc(50vh - 380px + 1070px);
        left: calc(50% - 480px + 390px);
    }
}

@media screen and (max-width: 959px) {
    #rec189046588 .tn-elem[data-elem-id="1587547508696"] {
        top: calc(50vh - 510px + 1175px);
        left: calc(50% - 320px + 180px);
    }

    #rec189046588 .tn-elem[data-elem-id="1587547508696"] {
        text-align: center;
    }
}

@media screen and (max-width: 639px) {
    #rec189046588 .tn-elem[data-elem-id="1587547508696"] {
        top: calc(50vh - 475px + 1170px);
        left: calc(50% - 240px + 160px);
    }
}

@media screen and (max-width: 479px) {
    #rec189046588 .tn-elem[data-elem-id="1587547508696"] {
        top: calc(1150px);
        left: calc(50% - 160px + 10px);
    }

    #rec189046588 .tn-elem[data-elem-id="1587547508696"] {
        text-align: center;
    }

        #rec189046588 .tn-elem[data-elem-id="1587547508696"] .tn-atom {
            font-size: 16px;
            ////
        }
}

#rec189046595 input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 textarea::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 textarea:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec189046595 textarea:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
    ////
}

#rec189046595 .t-btn[data-btneffects-first],
#rec189046595 .t-btn[data-btneffects-second],
#rec189046595 .t-submit[data-btneffects-first],
#rec189046595 .t-submit[data-btneffects-second] {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
