@{ ViewData["Title"] = "Vebinar";
    Layout = "~/Views/Shared/_LayoutVebinar.cshtml";
    }

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width">
<head>
    <title>Бесплатный вебинар</title>
    <meta name="description" content="Как выучить английский быстро по методике АЛГОРИТМ ЯЗЫКА™" />
    <meta property="og:url" content="https://xn--80aaiqendkqux4i3b.xn--p1ai/vebinar1" />
    <meta property="og:title" content="Бесплатный вебинар" />
    <meta property="og:description" content="Как выучить английский быстро по методике АЛГОРИТМ ЯЗЫКА™" />
</head>
<body class="t-body" style="margin:0;">
    <!--allrecords-->
    <div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="1125660" data-tilda-page-id="12109718" data-tilda-page-alias="vebinar1" data-tilda-formskey="7842248a57e71cc632887cb895681d50">
        <div id="rec202763039" class="r t-rec" style=" " data-record-type="215">
            <a name="registration" style="font-size:0;"></a>
        </div>
        <div id="rec202763041" class="r t-rec t-rec_pb_0" style="padding-bottom:0px; " data-animationappear="off" data-record-type="396">
            <!-- T396 -->
            <style>
            </style>
            <div class='t396'>
                <div class="t396__artboard" data-artboard-recid="202763041" data-artboard-height="760" data-artboard-height-res-960="760" data-artboard-height-res-640="1020" data-artboard-height-res-480="950" data-artboard-height-res-320="700" data-artboard-height_vh="100" data-artboard-valign="center" data-artboard-ovrflw="">
                    <div class="t396__carrier" data-artboard-recid="202763041"></div>
                    <div class="t396__filter" data-artboard-recid="202763041"></div>
                    <div class='t396__elem tn-elem tn-elem__2027630411466084312673' data-elem-id='1466084312673' data-elem-type='text' data-field-top-value="509" data-field-top-res-960-value="145px" data-field-top-res-640-value="145px" data-field-top-res-480-value="145px" data-field-top-res-320-value="141px" data-field-left-value="-313" data-field-left-res-960-value="250px" data-field-left-res-640-value="90px" data-field-left-res-480-value="10px" data-field-left-res-320-value="10px" data-field-width-value="200" data-field-width-res-960-value="460px" data-field-width-res-320-value="300px" data-field-axisy-value="top" data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1466084312673'></div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469121919478 t-animate' data-elem-id='1469121919478' data-elem-type='text' data-field-top-value="-150" data-field-top-res-960-value="80" data-field-top-res-640-value="49" data-field-top-res-480-value="75" data-field-top-res-320-value="55" data-field-left-value="0" data-field-left-res-960-value="0" data-field-left-res-640-value="5" data-field-left-res-480-value="0" data-field-left-res-320-value="0" data-field-width-value="720" data-field-width-res-960-value="780" data-field-width-res-640-value="450" data-field-width-res-480-value="440" data-field-width-res-320-value="300px" data-field-axisy-value="center" data-field-axisy-res-960-value="top" data-field-axisy-res-640-value="top" data-field-axisx-value="center" data-field-container-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="" data-animate-style="fadeindown" data-animate-duration="2.7" data-animate-distance="150">
                        <div class='tn-atom' field='tn_text_1469121919478'>
                            ЖИВОЙ ВЕБИНАР<br>
                            <br>"Как выучить английский быстро: без зубрёжки, правил и домашки"
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469181306596' data-elem-id='1469181306596' data-elem-type='image' data-field-top-value="26" data-field-left-value="1358" data-field-width-value="30" data-field-axisy-value="top" data-field-axisx-value="right" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom'>
                            <img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild3366-6130-4261-b763-363636666332/face.svg' imgfield='tn_img_1469181306596'>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469181336083' data-elem-id='1469181336083' data-elem-type='image' data-field-top-value="26" data-field-left-value="1320" data-field-width-value="30" data-field-axisy-value="top" data-field-axisx-value="right" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom'>
                            <img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild3339-3762-4937-a562-643039386631/twww.svg' imgfield='tn_img_1469181336083'>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469181670613' data-elem-id='1469181670613' data-elem-type='text' data-field-top-value="-134" data-field-top-res-960-value="210" data-field-top-res-640-value="310" data-field-top-res-480-value="291" data-field-top-res-320-value="267" data-field-left-value="1.5" data-field-left-res-960-value="20" data-field-left-res-640-value="0" data-field-left-res-480-value="1" data-field-left-res-320-value="0" data-field-width-value="759" data-field-width-res-960-value="660" data-field-width-res-640-value="560" data-field-width-res-480-value="400" data-field-width-res-320-value="300px" data-field-axisy-value="center" data-field-axisy-res-960-value="top" data-field-axisy-res-640-value="top" data-field-axisx-value="center" data-field-container-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1469181670613'></div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469549922981' data-elem-id='1469549922981' data-elem-type='text' data-field-top-value="-330" data-field-top-res-960-value="-45" data-field-top-res-640-value="-97" data-field-top-res-480-value="-87" data-field-top-res-320-value="-13" data-field-left-value="40" data-field-left-res-960-value="33" data-field-left-res-640-value="0" data-field-left-res-480-value="5" data-field-left-res-320-value="-1" data-field-width-value="200" data-field-width-res-960-value="190" data-field-width-res-640-value="280" data-field-width-res-480-value="240" data-field-width-res-320-value="300" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-container-res-640-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1469549922981'>
                            19:00 (МСК)<br>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469560566699' data-elem-id='1469560566699' data-elem-type='image' data-field-top-value="-329" data-field-top-res-960-value="-87" data-field-top-res-640-value="-146" data-field-top-res-480-value="-132" data-field-top-res-320-value="-48" data-field-left-value="-81" data-field-left-res-960-value="-6" data-field-left-res-640-value="1" data-field-left-res-480-value="1" data-field-left-res-320-value="0" data-field-width-value="25" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom'>
                            <img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild6265-6439-4032-b037-633338643162/watches.svg' imgfield='tn_img_1469560566699'>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469560574742' data-elem-id='1469560574742' data-elem-type='image' data-field-top-value="-329" data-field-top-res-960-value="-87" data-field-top-res-640-value="-236" data-field-top-res-480-value="-212" data-field-top-res-320-value="-122" data-field-left-value="-313" data-field-left-res-960-value="-237" data-field-left-res-640-value="1" data-field-left-res-480-value="0" data-field-left-res-320-value="1" data-field-width-value="25" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-container-res-640-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom'>
                            <img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild6433-3138-4034-a330-306233393038/calend.svg' imgfield='tn_img_1469560574742'>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411469549857584' data-elem-id='1469549857584' data-elem-type='text' data-field-top-value="-330" data-field-top-res-960-value="-45" data-field-top-res-640-value="-192" data-field-top-res-480-value="-172" data-field-top-res-320-value="-90" data-field-left-value="-200" data-field-left-res-960-value="-207" data-field-left-res-640-value="0" data-field-left-res-480-value="0" data-field-left-res-320-value="2" data-field-width-value="180" data-field-width-res-960-value="180" data-field-width-res-640-value="260" data-field-width-res-480-value="230" data-field-width-res-320-value="300" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-container-res-640-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1469549857584'>19 июня</div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411481709306456' data-elem-id='1481709306456' data-elem-type='image' data-field-top-value="-329" data-field-top-res-960-value="-87" data-field-top-res-640-value="-46" data-field-top-res-480-value="-42" data-field-top-res-320-value="28" data-field-left-value="178" data-field-left-res-960-value="243" data-field-left-res-640-value="1" data-field-left-res-480-value="3" data-field-left-res-320-value="1" data-field-width-value="25" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom'>
                            <img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild3365-3835-4436-b263-336235653931/money.svg' imgfield='tn_img_1481709306456'>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411481709314249' data-elem-id='1481709314249' data-elem-type='text' data-field-top-value="-330" data-field-top-res-960-value="-45" data-field-top-res-640-value="-7" data-field-top-res-480-value="3" data-field-top-res-320-value="58" data-field-left-value="255" data-field-left-res-960-value="251" data-field-left-res-640-value="0" data-field-left-res-480-value="-1" data-field-left-res-320-value="-1" data-field-width-value="110" data-field-width-res-960-value="110" data-field-width-res-640-value="150" data-field-width-res-480-value="150" data-field-width-res-320-value="300" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-container-res-640-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1481709314249'>Бесплатно</div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411587199340262' data-elem-id='1587199340262' data-elem-type='text' data-field-top-value="425" data-field-top-res-960-value="275" data-field-top-res-640-value="825" data-field-top-res-480-value="770" data-field-top-res-320-value="635" data-field-left-value="2140" data-field-left-res-960-value="1405" data-field-left-res-640-value="700" data-field-left-res-480-value="567" data-field-left-res-320-value="502" data-field-width-value="450" data-field-width-res-640-value="330" data-field-width-res-320-value="190" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1587199340262'>
                            Нажимая кнопку, Вы соглашаетесь с условиями<br>
                            <a href="http://algorithmyazika.tilda.ws/policy">политики в отношении обработки персональных данных</a>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411589307211752' data-elem-id='1589307211752' data-elem-type='button' data-field-top-value="350" data-field-top-res-960-value="275" data-field-top-res-640-value="750" data-field-top-res-480-value="570" data-field-top-res-320-value="555" data-field-left-value="2130" data-field-left-res-960-value="1530" data-field-left-res-640-value="700" data-field-left-res-480-value="627" data-field-left-res-320-value="470" data-field-height-value="55" data-field-width-value="200" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <a class='tn-atom' href="https://langalgorithm.ru/Pages/Index/Vk">VK</a>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411589307347500' data-elem-id='1589307347500' data-elem-type='button' data-field-top-value="350" data-field-top-res-960-value="275" data-field-top-res-640-value="680" data-field-top-res-480-value="505" data-field-top-res-320-value="490" data-field-left-value="2370" data-field-left-res-960-value="1530" data-field-left-res-640-value="700" data-field-left-res-480-value="627" data-field-left-res-320-value="470" data-field-height-value="55" data-field-width-value="200" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <a class='tn-atom' href="https://langalgorithm.ru/Pages/Index/Telegram">Telegram</a>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411589309643758' data-elem-id='1589309643758' data-elem-type='text' data-field-top-value="290" data-field-top-res-960-value="275" data-field-top-res-640-value="600" data-field-top-res-480-value="445" data-field-top-res-320-value="425" data-field-left-value="2222" data-field-left-res-960-value="1480" data-field-left-res-640-value="680" data-field-left-res-480-value="600" data-field-left-res-320-value="470" data-field-width-value="300" data-field-width-res-640-value="275" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom' field='tn_text_1589309643758'>Зарегистрироваться через</div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411592290186048' data-elem-id='1592290186048' data-elem-type='image' data-field-top-value="-319px" data-field-top-res-960-value="-77px" data-field-top-res-640-value="-226" data-field-top-res-480-value="-202" data-field-top-res-320-value="-112" data-field-left-value="-303px" data-field-left-res-960-value="-227px" data-field-left-res-640-value="11" data-field-left-res-480-value="10" data-field-left-res-320-value="11" data-field-width-value="25" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-container-res-640-value="window" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
                        <div class='tn-atom'>
                            <img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild6433-3138-4034-a330-306233393038/calend.svg' imgfield='tn_img_1592290186048'>
                        </div>
                    </div>
                    <div class='t396__elem tn-elem tn-elem__2027630411592290514594' data-elem-id='1592290514594' data-elem-type='form' data-field-top-value="495" data-field-top-res-960-value="423" data-field-top-res-640-value="581" data-field-top-res-480-value="591" data-field-top-res-320-value="454" data-field-left-value="460" data-field-left-res-960-value="341" data-field-left-res-640-value="181" data-field-left-res-480-value="101" data-field-left-res-320-value="20" data-field-width-value="290" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="" data-field-inputpos-value="v" data-field-inputfontfamily-value="Arial" data-field-inputfontsize-value="16" data-field-inputfontweight-value="100" data-field-inputcolor-value="#000000" data-field-inputbgcolor-value="#fcf9f9" data-field-inputbordercolor-value="#c9c7c7" data-field-inputbordersize-value="1" data-field-inputradius-value="5" data-field-inputheight-value="40" data-field-inputmargbottom-value="20" data-field-inputmargright-value="20" data-field-inputtitlefontsize-value="16" data-field-inputtitlefontweight-value="400" data-field-inputtitlecolor-value="#000" data-field-inputtitlemargbottom-value="5" data-field-inputelscolor-value="#403f3f" data-field-inputelsfontweight-value="500" data-field-inputelsfontsize-value="15" data-field-buttontitle-value="ЗАРЕГИСТРИРОВАТЬСЯ" data-field-buttonalign-value="center" data-field-buttoncolor-value="#fff" data-field-buttonbgcolor-value="#e310a7" data-field-buttonbordercolor-value="#000000" data-field-buttonbordersize-value="1" data-field-buttonradius-value="5" data-field-buttonwidth-value="200" data-field-buttonheight-value="50" data-field-buttonfontfamily-value="Arial" data-field-buttonfontsize-value="14" data-field-buttonfontweight-value="100" data-field-formname-value="Запись с переходом на бот" data-field-formmsgsuccess-value="&lt;div style=&quot;font-size:22px;text-align:center;&quot; data-customstyle=&quot;yes&quot;&gt;&lt;/div&gt;" data-field-formmsgurl-value="https://алгоритмязыка.рф/subscription" data-field-receivers-value="6abbcf464db03e32852b2253f6e5e498" data-field-formbottomtext-value="<div style='text-align:center;' data-customstyle='yes'><span style='color: rgb(255, 255, 255);'>Нажимая кнопку,<br>Вы соглашаетесь с</span> <a href='https://алгоритмязыка.рф/policy' target='_blank' style='color:rgb(240, 252, 13) !important;border-bottom-color: rgb(252, 249, 249);'>Условиями</a></div>">
                        <div class='tn-atom tn-atom__form'></div>
                        <div class="tn-atom__inputs-wrapp" style="display:none;">
                            <textarea class="tn-atom__inputs-textarea">{"0":{"lid":"1531306243545","ls":"10","loff":"","li_type":"ph","li_ph":"Тел. в формате +71234567890","li_nm":"Phone"},"1":{"lid":"1531306540094","ls":"20","loff":"","li_type":"nm","li_name":"name","li_ph":"Ваше имя ","li_nm":"name"}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- /T396 -->
        </div>
        <div id="rec202763042" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px;background-color:#002d6d; " data-animationappear="off" data-record-type="473" data-bg-color="#002d6d">
            <!-- T473 -->
            <div class="t473">
                <div class="t-container t-align_center">
                    <div class="t-col t-col_10 t-prefix_1">
                        <h1 class="t473__title t-title t-name_xs t-margin_auto" field="title" style="color:#ffffff;text-transform:uppercase;">
                            <div style="font-size:40px;" data-customstyle="yes">О вебинаре</div>
                        </h1>
                        <div class="t473__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;">
                            <div style="text-align:center;" data-customstyle="yes">
                                <a href="https://алгоритмязыка.рф" style="">
                                    <strong data-redactor-tag="a" style="">АЛГОРИТМ ЯЗЫКА</strong>
                                    ™
                                </a>
                                — это <a href="https://www1.fips.ru/registers-doc-view/fips_servlet?DB=RUPAT&amp;DocNumber=2718469&amp;TypeFile=html" target="_blank" style="">запатентованная</a>
                                <br />
                                методика изучения иностранных языков.<br />
                                За час Вы на себе испытаете, что способны<br />легко выучить любой иностранный язык.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec202763043" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px; " data-record-type="508">
            <!-- t508 -->
            <div class="t508">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs" field="btitle">На вебинаре Вы узнаете:</div>
                        </div>
                    </div>
                </div>
                <div class="t-container">
                    <div class="t-col t-col_8 t-prefix_2 t-item">
                        <div class="t-cell t-valign_top">
                            <svg class="t508__checkmark" style="width:55px; height:55px;" fill="#b8b8b8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <path d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z" />
                                <path d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z" />
                            </svg>
                        </div>
                        <div class="t508__textwrapper t-cell t-valign_top" style="">
                            <div class="t-name t-name_md t508__bottommargin" style="" field="li_title__1476889049104">Как выучить английский быстро с помощью ЛОГИКИ и родного языка</div>
                            <div class="t-descr t-descr_sm" style="" field="li_descr__1476889049104">
                                Расскажем об уникальной методике <strong>АЛГОРИТМ ЯЗЫКА</strong>
                                ™, освоив которую, Вы сможете выучить любой иностранный язык без учебников и домашних заданий.<br />
                            </div>
                        </div>
                    </div>
                    <div class="t-clear t508__separator" style=""></div>
                    <div class="t-col t-col_8 t-prefix_2 t-item">
                        <div class="t-cell t-valign_top">
                            <svg class="t508__checkmark" style="width:55px; height:55px;" fill="#b8b8b8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <path d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z" />
                                <path d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z" />
                            </svg>
                        </div>
                        <div class="t508__textwrapper t-cell t-valign_top" style="">
                            <div class="t-name t-name_md t508__bottommargin" style="" field="li_title__1476889075209">Раскроем секреты изучении иностранного языка</div>
                            <div class="t-descr t-descr_sm" style="" field="li_descr__1476889075209">а также узнаем, как использовать родной язык, чтобы ускорить изучение английского</div>
                        </div>
                    </div>
                    <div class="t-clear t508__separator" style=""></div>
                    <div class="t-col t-col_8 t-prefix_2 t-item">
                        <div class="t-cell t-valign_top">
                            <svg class="t508__checkmark" style="width:55px; height:55px;" fill="#b8b8b8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <path d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z" />
                                <path d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z" />
                            </svg>
                        </div>
                        <div class="t508__textwrapper t-cell t-valign_top" style="">
                            <div class="t-name t-name_md t508__bottommargin" style="" field="li_title__1476889079427">Разберем примеры на английском языке</div>
                            <div class="t-descr t-descr_sm" style="" field="li_descr__1476889079427">
                                и Вы убедитесь, насколько методика <strong>АЛГОРИТМ ЯЗЫКА</strong>
                                ™проста на практике, чтобы развивать язык без учителей и учебников, имея под рукой только словарь <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__bottomwrapper t-clear t-align_center ">
                            <a href="#rec202763041" target="" class="t-btn" style="color:#fcf9f9;border:1px solid #000000;background-color:#ff0000;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                <table style="width:100%; height:100%;">
                                    <tr>
                                        <td>ХОЧУ НА ВЕБИНАР!</td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec202763044" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px;background-color:#fafafa; " data-record-type="490" data-bg-color="#fafafa">
            <!-- t490 -->
            <div class="t490">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs" field="btitle">Кому подойдет этот вебинар?</div>
                        </div>
                    </div>
                </div>
                <div class="t-container">
                    <div class="t490__col t-col t-col_3 t-align_center t-item">
                        <img src="https://static.tildacdn.com/lib/tildaicon/30663435-6666-4066-b566-396131666133/touragency_globe.svg" class="t490__img t-img" imgfield="li_img__1476968690512" style="width:80px;" />
                        <div class="t490__wrappercenter ">
                            <div class="t-name t-name_xl" style="" field="li_title__1476968690512">Для неутолимых путешественников и открывателей</div>
                            <div class="t-descr t-descr_xs" style="" field="li_descr__1476968690512">
                                Чтобы общаться и расширять кругозор<br />
                            </div>
                        </div>
                    </div>
                    <div class="t490__col t-col t-col_3 t-align_center t-item">
                        <img src="https://static.tildacdn.com/lib/tildaicon/61336534-3130-4063-a532-373039303038/1ed_teacher.svg" class="t490__img t-img" imgfield="li_img__1476968700508" style="width:80px;" />
                        <div class="t490__wrappercenter ">
                            <div class="t-name t-name_xl" style="" field="li_title__1476968700508">
                                Для вечных студентов<br />
                                <br />
                            </div>
                            <div class="t-descr t-descr_xs" style="" field="li_descr__1476968700508">Которые 100500 раз начинали учить английский в различных школах</div>
                        </div>
                    </div>
                    <div class="t490__col t-col t-col_3 t-align_center t-item">
                        <img src="https://static.tildacdn.com/lib/tildaicon/32633233-6561-4539-b839-656431316632/Tilda_Icons_43_logistics_plane.svg" class="t490__img t-img" imgfield="li_img__1587214310571" style="width:80px;" />
                        <div class="t490__wrappercenter ">
                            <div class="t-name t-name_xl" style="" field="li_title__1587214310571">
                                Планирующим "свалить" :)<br />
                                <br />
                            </div>
                            <div class="t-descr t-descr_xs" style="" field="li_descr__1587214310571">
                                переехать на ПМЖ<br />за границу или поступить в иностранный ВУЗ
                            </div>
                        </div>
                    </div>
                    <div class="t490__col t-col t-col_3 t-align_center t-item">
                        <img src="https://static.tildacdn.com/lib/tildaicon/62346165-6433-4465-a331-393438623739/Tilda_Icons_37_Finance_technologies_moneybag.svg" class="t490__img t-img" imgfield="li_img__1476968722790" style="width:80px;" />
                        <div class="t490__wrappercenter ">
                            <div class="t-name t-name_xl" style="" field="li_title__1476968722790">
                                Для тех, кому все мало)))<br />
                                <br />
                            </div>
                            <div class="t-descr t-descr_xs" style="" field="li_descr__1476968722790">
                                Расширить бизнес-связи с иностранными контрагентами или открыть бизнес за границей<br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__bottomwrapper t-clear t-align_center ">
                            <a href="#rec202763041" target="" class="t-btn" style="color:#fcf9f9;border:1px solid #000000;background-color:#fc0000;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                <table style="width:100%; height:100%;">
                                    <tr>
                                        <td>Я В ТЕМЕ!</td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec202763045" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="246">
            <!-- T218 -->
            <div class="t218">
                <div class="t218__blockimgmobile t218__blockimgmobile_padding-0" style="display:none;">
                    <img src="https://static.tildacdn.com/tild3635-3738-4662-b965-393362346535/-/empty/0J5A0249.jpg" data-original="https://static.tildacdn.com/tild3635-3738-4662-b965-393362346535/0J5A0249.jpg" class="t218__imgmobile t-img">
                </div>
                <table class="t218__blocktable" style="height:100vh;" data-height-correct-vh="yes">
                    <tr>
                        <td class="t218__blocktext">
                            <div class="t218__textwrapper">
                                <div class="t218__descrfield t-descr t-descr_xxxl" style=" " field="title">
                                    <span style="font-weight: 500;">Вебинар ведет Марина Жеваченко</span>
                                </div>
                                <div class="t218__textfield t-text t-text_md" style=" " field="text">
                                    Марина - автор запатентованной методики <strong>АЛГОРИТМ ЯЗЫКА</strong>
                                    ™.<br />
                                    Опытным путем нашла общую основу во всех языках и разработала <strong>уникальную</strong>
                                    <strong>технологию</strong>
                                    , позволяющую изучить любой иностранный язык нативным способом без тетрадей, учебников и домашних заданий!<br />С 1998 года преподает языки в собственной школе в Нефтеюганске.
                                </div>
                                <div class="t218__btn-container">
                                    <div class="t218__btntext-wrapper">
                                        <a href="https://www.instagram.com/not.proper.english/" target="_blank" class="t-btntext " style="color:#e68585;">Посмотреть профиль в Инстаграм</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="t218__blockimg t-bgimg" bgimgfiled="img" data-original="https://static.tildacdn.com/tild3635-3738-4662-b965-393362346535/0J5A0249.jpg" style="background-image:url('https://static.tildacdn.com/tild3635-3738-4662-b965-393362346535/-/resizeb/20x/0J5A0249.jpg');"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="rec202763046" class="r t-rec t-rec_pt_90 t-rec_pb_0" style="padding-top:90px;padding-bottom:0px; " data-record-type="193">
            <!-- T175 -->
            <div class="t175">
                <div class="t-container t-container_flex">
                    <div class="t-col t-col_4 t-prefix_1 t-col_flex t-align_center">
                        <img src="https://static.tildacdn.com/lib/tildaicon/39316237-3031-4265-a339-663861353439/18ked_psychology.svg" imgfield="img" class="t175__img t-img" />
                    </div>
                    <div class="t-col t-col_6 t-col_flex">
                        <div class="t175__textwrapper">
                            <div class="t175__title t-title t-title_md" style="" field="title">
                                Что вы получите после вебинара?<br />
                            </div>
                            <div class="t175__descr t-descr t-descr_xl" style="" field="descr">
                                Доступ на БЕСПЛАТНЫЙ онлайн марафон, на котором сможете <strong>освоить</strong>
                                <strong>основы методики</strong>
                                <strong>АЛГОРИТМ ЯЗЫКА™</strong>
                                .<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec202783678" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px; " data-record-type="191">
            <!-- T142 -->
            <div class="t142">
                <div class="t-container_100">
                    <div class="t142__wrapone">
                        <div class="t142__wraptwo">
                            <a href="#rec202763041" target="" class="">
                                <div class="t-btn t142__submit " style="color:#fcf9f9;border:1px solid #000000;background-color:#fc0000;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">Let's go! </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rec202763047" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px;background-color:#000000; " data-record-type="551" data-bg-color="#000000">
            <!-- t551-->
            <div class="t551">
                <div class="t-container">
                    <div class="t-col t-col_6 t-prefix_3 t-align_center">
                        <div class="t551__title t-name t-name_xs" style="color:#ffffff;letter-spacing:1px;" field="title" data-animate-order="1">
                            ПИШИТЕ НАМ, ЕСЛИ У ВАС ЕСТЬ ВОПРОСЫ:<br />
                        </div>
                        <div class="t551__contacts t-title t-title_xxs" style="color:#ffffff;font-weight:300;" field="text" data-animate-order="2" data-animate-delay="0.3">
                            <div style="font-size:26px;color:#ffffff;" data-customstyle="yes">
                                E-mail: <strong>algorithmkzn</strong>
                                <span style="font-weight: 500;">
                                    <a href="https://tilda.cc/" style="color: rgb(255, 255, 255);">@@g</a>
                                    mail.com
                                </span>
                                <br />
                                Телефон: <span style="font-weight: 500;">+7 951 062 62 81</span>
                                <br />
                            </div>
                        </div>
                        <div class="t-sociallinks">
                            <div class="t-sociallinks__wrapper">
                                <div class="t-sociallinks__item">
                                    <a href="https://www.facebook.com/marina.zhevachenko" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                                        <desc>Facebook</desc>
                                        <path style="fill:#ffffff;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z" />



                                            </svg>
                                    </a>
                                </div>
                                <div class="t-sociallinks__item">
                                    <a href="https://www.youtube.com/channel/UCGgwe_1RYC6GRRcu_ShHjdQ" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                                        <desc>Youtube</desc>
                                        <path style="fill:#ffffff;" d="M24 0.0130005C37.248 0.0130005 47.987 10.753 47.987 24C47.987 37.247 37.247 47.987 24 47.987C10.753 47.987 0.0130005 37.247 0.0130005 24C0.0130005 10.753 10.752 0.0130005 24 0.0130005ZM35.815 18.093C35.565 16.756 34.452 15.758 33.173 15.635C30.119 15.439 27.054 15.28 23.995 15.278C20.936 15.276 17.882 15.432 14.828 15.625C13.544 15.749 12.431 16.742 12.182 18.084C11.898 20.017 11.756 21.969 11.756 23.92C11.756 25.871 11.898 27.823 12.182 29.756C12.431 31.098 13.544 32.21 14.828 32.333C17.883 32.526 20.935 32.723 23.995 32.723C27.053 32.723 30.121 32.551 33.173 32.353C34.452 32.229 35.565 31.084 35.815 29.747C36.101 27.817 36.244 25.868 36.244 23.919C36.244 21.971 36.101 20.023 35.815 18.093ZM21.224 27.435V20.32L27.851 23.878L21.224 27.435Z" />



                                            </svg>
                                    </a>
                                </div>
                                <div class="t-sociallinks__item">
                                    <a href="https://www.instagram.com/not.proper.english" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve">
                                        <desc>Instagram</desc>
                                        <path style="fill:#ffffff;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path>
                                        <path style="fill:#ffffff;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path>
                                        <path style="fill:#ffffff;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path>
                                            </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
